/*
/* index.css
*/

@charset "utf-8";

/* general */
body {
  text-align: center;
  width: 95%;
  margin: auto;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  margin: 10px 0;
  padding: 5px 0;
  background-color: #134A63;
}

h3 {
  font-size: 0.9rem;
  margin: 10px 0 0 0;
  color: #134A63;
  font-weight: bolder;
}

p {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

footer {
  font-size: 0.8rem;
}

/* main */
.display-none {
  display: none;
}

.operation_area {
  margin: 60px 0;
}

.config_area {
  margin: 30px 0;
}

#scraping_button {
  margin: 20px 0 0;
}